.manageForm {
    background: #FFFFFF;
    margin-top: 6em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em;
}

h4 {
    text-align: center;
}

.category {
    margin-left: 2em;
}

.btnSave {
    margin-left: auto;
    margin-right: auto;
}